@font-face {
	font-family: 'Signature';
	src: url('~/assets/fonts/signature.woff2') format('woff2');
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--family-body);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	-webkit-font-smoothing: antialiased;
	color: var(--black);
	font-weight: 500;
}

::selection {
	background-color: color-mix(in srgb, transparent, var(--purple-400) 10%);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
textarea,
button,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	margin: 0;
}

a {
	color: var(--primary);
}

a:not(:disabled):hover {
	cursor: pointer;
}

button {
	all: unset;
	line-height: 0;
}

button:focus {
	outline: revert;
}
