:root {
	--family-display: 'Poppins', sans-serif;
	--family-body: 'Inter', sans-serif;
	--family-code: 'Fira Code', monospace;

	--primary: var(--purple-400);
	--secondary: var(--pink-200);

	--white: #ffffff;
	--black: #0e1c2f;

	--bg-opacity: 100%;

	--primary: var(--purple-400);
	--secondary: var(--pink-200);
	--danger: var(--red-500);
	--warning: var(--orange-500);
	--success: var(--green-500);

	--gray-50: #f9fafb;
	--gray-100: #F0F4F9;
	--gray-200: #e5e7eb;
	--gray-300: #d2d6dc;
	--gray-400: #a2b5cd; /* Correct */
	--gray-500: #888d96;
	--gray-600: #4b5563;
	--gray-700: #2e3848;
	--gray-800: #0e1c2f;
	--gray-900: #161e2e;

	--purple-50: #f0eeff;
	--purple-100: #d0c0fd;
	--purple-200: #af95fd;
	--purple-300: #8968ff;
	--purple-400: #6644ff;
	--purple-500: #745eff;
	--purple-600: #1216f7;
	--purple-700: #000cef;
	--purple-800: #0004eb;
	--purple-900: #0000dc;

	--pink-50: #fee7f7;
	--pink-100: #fcc2eb;
	--pink-200: #fe97dc;
	--pink-300: #ff6ecc;
	--pink-400: #ff4cba;
	--pink-500: #ff28a7;
	--pink-600: #f527a1;
	--pink-700: #dc2798;
	--pink-800: #c52791;
	--pink-900: #9a2685;

	--green-50: #dff6f1;
	--green-100: #afe9d9;
	--green-200: #78dcc1;
	--green-300: #2ecda8;
	--green-400: #00c095;
	--green-500: #00b284;
	--green-600: #00a476;
	--green-700: #009366;
	--green-800: #008258;
	--green-900: #00653c;

	--orange-50: #fff4e3;
	--orange-100: #ffe3ba;
	--orange-200: #ffd18f;
	--orange-300: #ffbe64;
	--orange-400: #ffb048;
	--orange-500: #ffa339;
	--orange-600: #fa9736;
	--orange-700: #f38832;
	--orange-800: #ec7a2f;
	--orange-900: #e0642b;

	--red-50: #fce5e9;
	--red-100: #f7bdc8;
	--red-200: #f193a5;
	--red-300: #ea6b82;
	--red-400: #e35169;
	--red-500: #dd3f53;
	--red-600: #cd3a51;
	--red-700: #b7344d;
	--red-800: #a32f4a;
	--red-900: #802442;

	/* Text sizes */
	--font-size-xs: 0.75rem; /* 12px */
	--font-size-sm: 0.875rem; /* 14px */
	--font-size-base: 1rem; /* 16px */
	--font-size-lg: 1.125rem; /* 18px */
	--font-size-xl: 1.25rem; /* 20px */
	--font-size-2xl: 1.5rem; /* 24px */
	--font-size-3xl: 1.875rem; /* 30px */
	--font-size-4xl: 2.5rem; /* 40px */
	--font-size-5xl: 3rem; /* 48px */
	--font-size-6xl: 3.75rem; /* 60px */
	--font-size-7xl: 4.5rem; /* 72px */
	--font-size-8xl: 6rem; /* 96px */
	--font-size-9xl: 8rem; /* 128px */

	--line-height-xs: 1rem; /* 16px */
	--line-height-sm: 1.25rem; /* 20px */
	--line-height-base: 1.5rem; /* 24px */
	--line-height-lg: 1.75rem; /* 28px */
	--line-height-xl: 1.75rem; /* 28px */
	--line-height-2xl: 2rem; /* 32px */
	--line-height-3xl: 2.5rem; /* 36px */
	--line-height-4xl: 3rem; /* 40px */
	--line-height-5xl: 3.5rem; /* 56px */
	--line-height-6xl: 1;
	--line-height-7xl: 1;
	--line-height-8xl: 1;
	--line-height-9xl: 1;

	/* Spacing Scale */
	--space-0: 0;
	--space-px: 1px;
	--space-05: 0.125rem; /* 2px */
	--space-1: 0.25rem; /* 4px */
	--space-2: 0.5rem; /* 8px */
	--space-3: 0.75rem; /* 12px */
	--space-4: 1rem; /* 16px */
	--space-5: 1.25rem; /* 20px */
	--space-6: 1.5rem; /* 24px */
	--space-7: 1.75rem; /* 28px */
	--space-8: 2rem; /* 32px */
	--space-9: 2.25rem; /* 36px */
	--space-10: 2.5rem; /* 40px */
	--space-11: 2.75rem; /* 44px */
	--space-12: 3rem; /* 48px */
	--space-14: 3.5rem; /* 56px */
	--space-16: 4rem; /* 64px */
	--space-20: 5rem; /* 80px */
	--space-24: 6rem; /* 96px  */
	--space-28: 7rem; /* 112px */
	--space-32: 8rem; /* 128px */
	--space-36: 9rem; /* 144px */
	--space-40: 10rem; /* 160px */
	--space-44: 11rem; /* 176px */
	--space-48: 12rem; /* 192px */
	--space-52: 13rem; /* 208px */
	--space-56: 14rem; /* 224px */
	--space-60: 15rem; /* 240px */
	--space-64: 16rem; /* 256px */
	--space-72: 18rem; /* 288px */
	--space-80: 20rem; /* 320px */
	--space-96: 24rem; /* 384px */

	/* Border Radius */
	--rounded-none: 0;
	--rounded-sm: 0.125rem; /* 2px */
	--rounded: 0.25rem; /* 4px */
	--rounded-md: 0.375rem; /* 6px */
	--rounded-lg: 0.5rem; /* 8px */
	--rounded-xl: 0.75rem; /* 12px */
	--rounded-2xl: 1rem; /* 16px */
	--rounded-3xl: 1.5rem; /* 24px */
	--rounded-full: 9999px;

	/* Transitions */
	--ease-linear: linear;
	--ease-in: cubic-bezier(0.4, 0, 1, 1);
	--ease-out: cubic-bezier(0, 0, 0.2, 1);
	--ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

	--duration-0: 0s;
	--duration-75: 75ms;
	--duration-100: 100ms;
	--duration-150: 150ms;
	--duration-200: 200ms;
	--duration-300: 300ms;
	--duration-500: 500ms;
	--duration-700: 700ms;
	--duration-1000: 1000ms;

	/* Shadows */
	--shadow-base: 0px 1.875rem 3.75rem -1.875rem rgba(0, 0, 0, 0.05), 0px 0.125rem 0.25rem 0px rgba(0, 0, 0, 0.05);
}
